<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="/Logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="traceFile" fileName="/Logs/${shortdate}/nlog-trace.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- write logs to file  -->
    <target xsi:type="File" name="debugFile" fileName="/Logs/${shortdate}/nlog-debug.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- write logs to file  -->
    <target xsi:type="File" name="infoFile" fileName="/Logs/${shortdate}/nlog-info.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="warningFile" fileName="/Logs/${shortdate}/nlog-warning.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- write logs to file  -->
    <target xsi:type="File" name="errorFile" fileName="/Logs/${shortdate}/nlog-error.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- write logs to file  -->
    <target xsi:type="File" name="fatalfile" fileName="/Logs/${shortdate}/nlog-fatal.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" level="Trace" writeTo="traceFile" />
    <logger name="*" level="Debug" writeTo="debugFile" />
    <logger name="*" level="Info" writeTo="infoFile" />
    <logger name="*" level="Warn" writeTo="warningFile" />
    <logger name="*" level="Error" writeTo="errorFile" />
    <logger name="*" level="Fatal" writeTo="fatalFile" />
  </rules>
</nlog>

<!--Fatal    Something bad happened; application is going down
Error    Something failed; application may or may not continue
Warn    Something unexpected; application will continue
Info    Normal behavior like mail sent, user updated profile etc.
Debug    For debugging; executed query, user authenticated, session expired
Trace-->