<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>%(DocumentTitle)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./swagger-ui.css">
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16" />
    <style>
        html {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            margin: 0;
            background: #fafafa;
        }

        .response-block {
            font-size: 12px !important;
            margin: 0;
            padding: 10px;
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
            word-break: break-word;
            border-radius: 4px;
            background: #41444e;
            overflow-wrap: break-word;
            font-family: monospace;
            font-weight: 600;
            color: #fff;
            margin-top: 5px;
            font-family: Consolas,monaco,monospace;
        }
    </style>
    %(HeadContent)
</head>

<body>

    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:0;height:0">
        <defs>
            <symbol viewBox="0 0 20 20" id="unlocked">
                <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V6h2v-.801C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8z"></path>
            </symbol>

            <symbol viewBox="0 0 20 20" id="locked">
                <path d="M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4c-.553 0-1 .646-1 1.199V17c0 .549.428 1.139.951 1.307l1.197.387C5.672 18.861 6.55 19 7.1 19h5.8c.549 0 1.428-.139 1.951-.307l1.196-.387c.524-.167.953-.757.953-1.306V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 .754 2 2.199V8z" />
            </symbol>

            <symbol viewBox="0 0 20 20" id="close">
                <path d="M14.348 14.849c-.469.469-1.229.469-1.697 0L10 11.819l-2.651 3.029c-.469.469-1.229.469-1.697 0-.469-.469-.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-.469-.469-.469-1.228 0-1.697.469-.469 1.228-.469 1.697 0L10 8.183l2.651-3.031c.469-.469 1.228-.469 1.697 0 .469.469.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c.469.469.469 1.229 0 1.698z" />
            </symbol>

            <symbol viewBox="0 0 20 20" id="large-arrow">
                <path d="M13.25 10L6.109 2.58c-.268-.27-.268-.707 0-.979.268-.27.701-.27.969 0l7.83 7.908c.268.271.268.709 0 .979l-7.83 7.908c-.268.271-.701.27-.969 0-.268-.269-.268-.707 0-.979L13.25 10z" />
            </symbol>

            <symbol viewBox="0 0 20 20" id="large-arrow-down">
                <path d="M17.418 6.109c.272-.268.709-.268.979 0s.271.701 0 .969l-7.908 7.83c-.27.268-.707.268-.979 0l-7.908-7.83c-.27-.268-.27-.701 0-.969.271-.268.709-.268.979 0L10 13.25l7.418-7.141z" />
            </symbol>


            <symbol viewBox="0 0 24 24" id="jump-to">
                <path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z" />
            </symbol>

            <symbol viewBox="0 0 24 24" id="expand">
                <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z" />
            </symbol>

        </defs>
    </svg>

    <div id="swagger-ui"></div>

    <!-- Workaround for https://github.com/swagger-api/swagger-editor/issues/1371 -->
    <script>
        if (window.navigator.userAgent.indexOf("Edge") > -1) {
            console.log("Removing native Edge fetch in favor of swagger-ui's polyfill")
            window.fetch = undefined;
        }
    </script>

    <script src="./swagger-ui-bundle.js"></script>
    <script src="./swagger-ui-standalone-preset.js"></script>
    <script>

        function insertAfter(refElem, elem) {
            return refElem.parentNode.insertBefore(elem, refElem.nextSibling);
        }

        function InsertTokenInput() {

            var infoContainer = document.querySelector('.information-container.wrapper > section');

            if (infoContainer) {

                var label = document.createElement('label');
                label.innerHTML = "API Bearer Token (will be used if Authorization field is empty):";
                label.style.fontSize = '16px';
                label.htmlFor = "input_token";

                var input = document.createElement('input');

                input.id = "input_token";
                input.name = "input_token"
                input.placeholder = 'Authorization Token';
                input.type = "text";
                input.value = "Bearer ";
                input.classList.add("filter", "wrapper", "block", "col-12");
                input.style.marginBottom = "15px"

                insertAfter(infoContainer, label);
                insertAfter(label, input);
            }
        };

        function InsertShortAuthorizationInput() {

            var tokenInput = document.querySelector('#input_token');

            if (tokenInput) {

                var block = document.createElement('div');
                block.style.marginBottom = "15px";
                block.style.display = "none";

                var label = document.createElement('label');
                label.innerHTML = "Get auth token by user Id or UserName:";
                label.style.fontSize = '16px';
                label.htmlFor = "short_auth_input";
                label.style.display = "block";

                var input = document.createElement('input');
                input.id = "short_auth_input";
                input.name = "short_auth_input"
                input.placeholder = 'User id or UserName';
                input.type = "text";
                input.classList.add("filter", "wrapper");
                input.style.marginRight = "5%";
                input.style.width = "75%";

                var btn = document.createElement('button');
                btn.id = "short_auth_btn";
                btn.classList.add("btn");
                btn.innerText = "Get tokens";
                btn.style.width = "20%";

                var responseArea = document.createElement('pre');
                responseArea.id = "short_auth_response_area";
                responseArea.classList.add("microlight", "response-block");
                responseArea.style.display = "none";

                // short authorization button click handler
                btn.onclick = () => {
                    var shortAuthValue = input.value;
                    responseArea.style.display = "none";

                    if (shortAuthValue) {
                        input.classList.remove("invalid");

                        var body = {};

                        if (Number.isInteger(parseInt(shortAuthValue))) {
                            body = { id: shortAuthValue };
                        } else {
                            body = { userName: shortAuthValue };
                        }

                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/api/v1/test/authorize', true);
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.send(JSON.stringify(body));

                        xhr.onreadystatechange = function () {
                            if (xhr.readyState != 4)
                                return;

                            responseArea.style.display = "block";
                            responseArea.innerHTML = JSON.stringify(JSON.parse(xhr.responseText), null, 2);
                        }
                    } else {
                        input.classList.add("invalid");
                    }
                };

                var btnOpenShortAuth = document.createElement('button');
                btnOpenShortAuth.id = "short_auth_show_btn";
                btnOpenShortAuth.classList.add("btn");
                btnOpenShortAuth.innerText = "Get tokens";
                btnOpenShortAuth.style.marginBottom = "10px";
                btnOpenShortAuth.onclick = () => {
                    if (block.style.display === "none")
                        block.style.display = "block";
                    else
                        block.style.display = "none";
                }

                block.appendChild(label);
                block.appendChild(input);
                block.appendChild(btn);
                block.appendChild(responseArea);

                insertAfter(tokenInput, btnOpenShortAuth);
                insertAfter(btnOpenShortAuth, block);
            }
        };

        window.onload = function () {
            var configObject = JSON.parse('%(ConfigObject)');
            var oauthConfigObject = JSON.parse('%(OAuthConfigObject)');
            // Apply mandatory parameters
            configObject.dom_id = "#swagger-ui";
            configObject.presets = [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset];
            configObject.layout = "StandaloneLayout";
            // If oauth2RedirectUrl isn't specified, use the built-in default
            if (!configObject.hasOwnProperty("oauth2RedirectUrl"))
                configObject.oauth2RedirectUrl = window.location.href.replace("index.html", "oauth2-redirect.html").split('#')[0];
            // Build a system

            configObject.configs = {
                preFetch: function (req) {

                    if (document.getElementById('lang')) {
                        req.headers['Accept-Language'] = document.getElementById('lang').value;
                    }
                    // Modify req, set auth

                    return req;
                }
            };

            configObject.onComplete = function () {
                InsertTokenInput();
                InsertShortAuthorizationInput();
            }

            configObject.requestInterceptor = function (request) {

                var token = document.querySelector('#input_token');

                if (token && token.value) {

                    var authHeader = request.headers.Authorization;

                    if (authHeader && authHeader.length < 8) {
                        request.headers.Authorization = token.value;
                    }
                }

                if (request.url.indexOf('/api/v1/upload/multipleimages') >= 0) {
                    var formData = new FormData();

                    var files = document.querySelectorAll('#operations-Upload-ApiV1UploadMultipleImagesPost input[type="file"]');

                    for (var i = 0; i < files.length; i++) {
                        formData.append("images", files[i].files[0]);
                    }

                    request.body = formData;
                }

                return request;
            }

            const ui = SwaggerUIBundle(configObject);

            // Apply OAuth config
            ui.initOAuth(oauthConfigObject);

            var logo = document.getElementsByClassName('link')[0];

            var span = document.createElement('span');
            var label = document.createElement('label');

            label.innerHTML = "Language: ";
            label.style.fontSize = '16px';
            span.appendChild(label);

            var select = document.createElement('select');
            select.id = 'lang';
            select.style.width = '100px';

            var cultures = ['en', 'ru'];

            for (var i in cultures) {
                var option = document.createElement('option');
                option.value = cultures[i];
                option.text = cultures[i];

                select.appendChild(option);
            }

            span.appendChild(select);
            insertAfter(logo, span);

        }
    </script>
</body>

</html>